:root {
    font-family: 'Public Sans', sans-serif;
    --blue-100: #eff6ff;
    --blue-200: #e2e8f0;
    --blue-300: #cbd5e1;
    --blue-400: #bfdbfe;
    --blue-500: #aabbcc;
    --blue-600: #93c5fd;
    --blue-700: #94a3b8;
    --blue-800: #60a5fa;
    --blue-900: #64748b;
    --blue-1000: #3b82f6;
    --blue-1100: #1da1f2;
    --blue-1200: #4b5563;
    --blue-1300: #475569;
    --blue-1400: #374151;
    --blue-1500: #334155;
    --blue-1600: #243c5a;
    --blue-1700: #1e293b;
    --blue-1800: #1f2937;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blue-100);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.layout {
    margin-left: 4em;
    padding: 0.2em 2em;
    background-color: lightblue;

}


/*SIDEBAR------------------------------------------ */
.sidebar--container {
    background-color: var(--blue-1000);
    padding: 1em 1.2em;

    position: fixed;
    top: 0;
    bottom: 0;
    width: 5%;
    transition: all 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: 3em;
    margin-bottom: 2em;
    filter: invert(100%);
}

.sidebar-nav_elements {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    align-items: start;
    
}

.items {
    margin: 0.4em 0;
    background-color: inherit;
    padding: 0.3em 0.6em;
}

.items:hover {
    opacity: 0.6;
}

/* .linkName {
    position: absolute;
    background-color: gray;
    bottom: -30px;
    right: -40px;
    font-size: 0.7rem;
    padding: 0.2em 0.3em;
    color: white;
    border-radius: 4px;
    transition: all 0.5s;
    visibility: hidden;
} */


/* HEADER------------------------------------ */


