html {
    font-family: 'Public Sans', sans-serif;
    scroll-behavior: smooth;
    --transparent-black: white;
    --transparent-grey: rgba(192, 192, 192, 0.294);
    --layout: white;
    --text-color: rgb(71, 71, 71);
    --theme-container: white;
    --grey: rgba(255, 255, 255, 0.597);
    --orange: #eb5830;
    --sidebar-color: #eb5830;
    --green: rgb(54, 234, 54);
    --orange-gradient: linear-gradient(
      268.35deg,
      rgba(255, 70, 70, 0.99) 3.47%,
      rgba(255, 114, 70, 0.99) 60.18%
    );

}

html.dark {
    --layout: #1a1a1a;
    --theme-container: background: rgba(0, 0, 0, 0.59);
    --text-color: white;
    --sidebar-color: white;
    --transparent-black: rgba(0, 0, 0, 0.294);
    --transparent-grey: #111;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    line-height: .4;
}

.layout {
    font-family: "Public Sans", sans-serif;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;
    background-color: var(--layout);

}

.layout>:nth-child(1) {
    grid-row: 1/ span 4;
}

.layout>:nth-child(2) {
    grid-column: 2/ span 12;
}

.layout>:nth-child(3) {
    grid-column: 2/ span 12;
    grid-row: 2/ span 4;
    background-color: var(--transparent-grey);
}


/*SIDEBAR COMPONENT------------------------------------------ */
.sidebar--container {
    padding: 1em 0;

    position: fixed;
    top: 0;
    bottom: 0;
    width: 8%;
    transition: all 0.5s;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: 3em;
    margin-bottom: 2em;
}

.sidebar-nav_elements {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    align-items: start;
    
}

.items {
    margin: 0.4em 0;
    padding: 0.3em 0.6em;
}

.items>svg {
    color: var(--sidebar-color)

}

.items:hover {
    opacity: 0.6;
}


/* HEADER COMPONENT------------------------------------ */
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1em 2em;
    
    color: var(--text-color);
}

.header-search_bar {
    background-color: rgba(255, 255, 255, 0.496);
    width: 30%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: 8px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid rgb(212, 210, 210);
}

.header-search_bar>input{
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    width: 100%;
    color: var(--text-color);
}

.header-profile {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.header-profile_image {
    width: 18%;
    height: 18%;
}

.header-profile p {
    line-height: 0.5;
    font-size: .95rem;
}



